body {
  font-family: 'Courier Prime', monospace;
  font-size: 32px;
  color: black;
}
.font {
  font-family: 'Courier Prime', monospace;
}

.center {
  text-align: center;
  border: 3px solid green;
  padding: 20px;
  position: absolute;
  top: 50%; right: 50%;
  transform: translate(50%,-50%);
}
.button {
  font-family: 'Courier Prime', monospace;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  
}
.button1 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.button1:hover {
  background-color: #555555;
  color: white;
}

.indexTitle {
  font-size: 8rem;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  text-align: center;
  font-size: 25px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
}